<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>TamDT Blog</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDarkDropdownMenuLink'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img
                            class='user-avatar'
                            src='https://pbs.twimg.com/media/FBQ0h93WYAciBQ0.jpg:large'
                            alt=''
                        />
                        Tâm Đặng
                    </a>
                    <ul
                        class='dropdown-menu dropdown-menu-dark'
                        aria-labelledby='navbarDarkDropdownMenuLink'
                    >
                        <li><a class='dropdown-item' href='/courses/create'>Đăng
                                khoá học</a></li>
                        <div class='dropdown-divider'></div>
                        <li><a
                                class='dropdown-item'
                                href='/me/stored/courses'
                            >Khoá học của tôi</a></li>
                        <div class='dropdown-divider'></div>
                        <li><a
                                class='dropdown-item'
                                href='/me/stored/courses'
                            >Bài viết của tôi</a></li>
                        <div class='dropdown-divider'></div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>